
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233, 243, 247);
}
.main-page {
  display: flex;
  height: 80vh;
}

.left {
  overflow: hidden;
  width: 50%;
  background-color: rgb(15, 144, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content div {
  display: flex;
  align-items: center;
  padding: 20px;
  color: beige;
}

.left-content i {
  font-size: 30px;
}

.left-content h3 {
  padding-left: 20px;
  font-size: 20px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.middle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-content-form {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.right-content-form label {
  margin-top: 17px;
  font-size: 13px;
  position: absolute;
  top: 30px;
  left: 48%;
  color: rgb(124, 124, 124);
}

.right-content-form input {
  width: 200px;
  height: 35px;
  margin-left: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.right-content-form input:focus {
  background-color: #d9ebf0;
  outline: none;
}

.right-content-form button {
  margin: 0px 10px;
  padding: 0px 8px;
  height: 35px;
  font-weight: 600;
  color: rgb(15, 144, 219);
  background-color: white;
  border: 1px solid rgb(15, 144, 219);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-top:hover {
  transform: scale(1.05);
}

.middle-content {
  display: flex;
  flex-direction: column;
}

.middle-content i {
  font-size: 40px;
  color: rgb(15, 144, 219);
}
.middle-content h1 {
  font-family: "Courier New", Courier, monospace;
  margin: 10px 0px;
}

.middle-content h4 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

.middle-content button {
  border: 1px solid rgb(15, 144, 219);
  margin: 5px;
  height: 30px;
  border-radius: 10px;
  transition: 0.5s;
}

.middle-content button:hover {
  transform: scale(1.05);
}
.sign-up {
  color: white;
  background-color: rgb(15, 144, 219);
}

.main-page-footer {
  display: flex;
}

.main-page-footer ul {
  padding: 3%;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.main-page-footer a {
  padding: 0px 10px;
  text-decoration: none;
  color: #444;
  font-weight: 600;
}

/* login page */

.login-page {
  display: none;
  font-family: 'Roboto Condensed', sans-serif;
  flex-direction: column;
}

.login-page-nav {
  display: flex;
  padding-top: 10px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(124, 124, 124);
}

.login-page-nav ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  padding: 20px 10px;
  list-style: none;
}

.login-page-nav li {
  margin-left: 20px;
}

.login-page-nav li:last-child {
  margin-left: 600px;
}

.login-page-nav a:hover {
  color: rgb(15, 144, 219);
  box-shadow: 0 2px rgb(15, 144, 219);
}

.login-page-nav a {
  text-decoration: none;
  padding-bottom: 20px;
  color: rgb(88, 88, 88);
}

.login-page-nav i {
  color: rgb(15, 144, 219);
  font-size: 25px;
}

.login {
  margin: 20px 22%;
  box-shadow: 1px 1px 5px rgb(88, 88, 88);
  border-radius: 10px;
}

.login-content {
  padding: 50px 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-content h2 {
  padding-bottom: 20px;
}

.login-form input:not(.login-form-checkbox) {
  border: 1px solid rgb(197, 195, 195);
  height: 30px;
  width: 40%;
  border-radius: 5px;
  padding-left: 10px;
  margin: 5px 0px;
}

.login-form input:focus {
  outline: none;
  border: 1px solid rgb(15, 144, 219);
}

.login-form a {
  margin-left: 10px;
  text-decoration: none;
}

.login-form-btn {
  margin-top: 20px;
  padding: 10px;
  margin-right: 10px;
  color: white;
  background-color: rgb(15, 144, 219);
  border: none;
  border-radius: 20px;
  transition: 0.5s;
}

.login-form-btn:hover {
  transform: scale(1.05);
}

.login-footer {
  background-color: rgb(223, 219, 219);
  padding: 30px 50px;
  color: rgb(94, 94, 94);
  line-height: 30px;
}

.login-footer a {
  text-decoration: none;
  color: rgb(80, 146, 184);
}

.login-modal {
  position: fixed;
  top: 10rem;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  padding-right: 60px;
  box-shadow: 1px 1px 2px rgb(124, 124, 124);
  border-radius: 10px;
}

.login-modal i{
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

/*---------------------------------------------------------------*/

.feeds-nav {
  padding: 20px;
  width: 100%;
  position: fixed;
  background-color: rgb(233, 243, 247);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 5px rgb(88, 88, 88);
}

.feeds-nav img {
  width: 40px;
  height: 40px;
  margin: 5px 0px 0px 5px;
  border-radius: 50%;
}

.icons a {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  font-size: 25px;
}
.search-bar {
  display: flex;
  font-size: 25px;
}
.search-bar input {
  margin-left: 5%;
  padding-left: 20px;
  height: 30px;
  width: 400px;
  background-color: rgb(200, 227, 245);
  border: none;
  border-radius: 10px;
}

.user {
  display: flex;
  align-items: center;
}

.user p {
  font-size: 15px;
  padding-right: 10px;
}

.user p:hover{
  cursor: pointer;
}

.user-img-wrapper {
  padding-right: 10px;
}

/*------------------------------------------------*/

.feeds-page{
  background-color: rgb(200, 227, 245);
  display: none;
  justify-content: center;
}

.feed{
  display: flex;
}

.feeds-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 600px;
  margin-bottom: 10px;
  background-color: rgb(233, 243, 247);
}

.feeds-header {
  display: flex;
  overflow: hidden;
  padding: 0px 10px;
  margin-top: 10px;
  flex-direction: column;
  max-height: 140px;
  align-items: center;
  border-radius: 10px;
}

.header-top {
  display: flex;
  padding: 10px 40px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
  box-shadow: 1px 0px 1px rgb(124, 124, 124);
  font-size: 25px;
}

.feeds-header i {
  color: rgb(15, 144, 219);
}

.header-post {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-around;
}

.header-post input {
  width: 300px;
  padding-left: 25px;
  height: 40px;
  background-color: rgb(200, 227, 245);
  border: none;
  border-radius: 50px;
}

.header-post img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post{
  display: flex;
  padding: 10px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 1px rgb(124, 124, 124);
}

.user-avatar{
  padding: 10px 10px;
}

.user-avatar img{
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.post-content{
  width: 500px;
}

.post-content .post-user-info{
  padding: 10px 0px;
  display: flex;
  align-items: flex-end;
}

.post-user-info i {
  color: rgb(15, 144, 219);
  padding: 0px 7px;
  font-size: 18px;
}

.post-text{
  padding-bottom: 20px;
}

.post-content img{
  width: 500px;
  height: 300px;
  margin: 10px 0px;
  border-radius: 10px;
}

.post-icons{
  font-size: 20px;
}

.post-icons i{
  padding: 0px 20px;
  color: rgb(124, 124, 124);
}

.follow{
  margin-left: 20px;
  margin-top: 100px;
  width: 400px;
}

.follow-content{
  background-color: rgb(233, 243, 247);
}

.follow-heading{
  font-size: 22px;
  padding: 20px 20px;
}

.follow-user{
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 1px rgb(124, 124, 124);
}

.follow img{
  object-fit: cover;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.follow button{
  outline: none;
  border: 1px solid rgb(15, 144, 219);
  color: rgb(15, 144, 219);
  border-radius: 20px;
  padding: 0px 10px;
  height: 40px;
  font-size: 20px;
}

.follow-link{
  padding: 20px 30px;
}

.follow-link a{
  text-decoration: none;
  color: rgb(15, 144, 219);
}

.follow-footer ul{
  display: flex;
}

.follow-footer li{
  list-style-type: none;
  padding: 10px 10px;
}

.follow-footer a{
  text-decoration: none;
  color: rgb(124, 124, 124);
}

.post-btn {
  position: fixed;
  bottom: 2rem;
  left: 70%;
  padding: 15px 30px;
  background-color: rgb(15, 144, 219);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.post-btn:hover {
  background-color: #117abb;
}

/* post modal */
.modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-wrapper-display {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 40%;
  background-color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: none;
}

.modal-header {
  padding:20px 30px 10px 30px;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid #eee;
}

.modal-header i {
  font-size: 25px;
  color: #1aa1f5;
  cursor: pointer;
}

.modal-header button {
  margin-left: auto;
  width: 80px;
  padding: 8px 5px;
  background-color: #1aa1f5;
  color: #fff;
  font-size: 15px;
  border: 0.1rem solid #1aa1f5;
  border-radius: 30px;
  opacity: 0.5;
}

.modal-body {
  display: flex;
  padding: 10px 15px 10px 15px;
}

.modal-img {
  padding-right: 10px;
}

.modal-img img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.modal-input {
  width: 100%;
  padding: 10px 0px 100px 10px;
  background-color: #d6e1e9;
  border: 0.1rem solid #eee;
  border-radius: 10px;
  font-size: 16px;
}

.modal-input:focus {
  background-color: #fff;
  outline: none;
  border-color: #1aa1f5;
}

.modal-body i {
  position: absolute;
  bottom: 80px;
  right: 30px;
  font-size: 25px;
  color: #1aa1f5;
}

.modal-footer {
  padding: 0 20px 20px 80px;
}

.modal-icons {
  display: flex;
  align-items: center;
}

.modal-icons i {
  margin-right: 20px;
  font-size: 20px;
  color: #1aa1f5;
}

.modal-icons span {
  margin-left: auto;
  font-size: 25px;
  padding-bottom: 3px;
  width: 35px;
  height: 30px;
  border: 0.1rem solid #1aa1f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1aa1f5;
  opacity: 0.5;
}
/* end of post modal */

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.sidebar-wrapper-display {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -20%;
  width: 20%;
  height: 100vh;
  background-color: #fff;
  padding: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.5s cubic-bezier(1, 0, 0, 1);
}

.sidebar-display {
  right: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.sidebar-header h2 {
  font-size: 20px;
}

.sidebar-header i {
  margin-left: auto;
  font-size: 20px;
  color: #1aa1f5;
  cursor: pointer;
}

.sidebar-user {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.sidebar-user-img {
  padding-left: 10px;
}

.sidebar-user-img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-user span {
  margin-left: auto;
  width: 45px;
  height: 40px;
  font-size: 40px;
  border: 0.1rem solid #1aa1f5;
  border-radius: 50%;
  display: flex;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  color: #1aa1f5;
}

.sidebar-user-info {
  padding: 10px 0;
  font-size: 18px;
}

.sidebar-user-info h4 {
  margin-bottom: 5px;
}

.following {
  display: flex;
  padding: 10px 0;
}

.following-paragraph {
  font-size: 18px;
}

.following-paragraph:first-child {
  margin-right: 10px;
}

.following-paragraph span {
  font-weight: bold;
}

.sidebar-list-1 {
  border-bottom: 1px solid #eee;
}

.sidebar-list-1 ul {
  list-style: none;
  padding: 5px 0;
}

.sidebar-list-1 li {
  margin-bottom: 10px;
}

.sidebar-list-1 a {
  text-decoration: none;
  font-size: 20px;
  color: #868383;
}

.sidebar-list-1 i {
  margin-right: 10px;
}

.sidebar-list-2 ul {
  list-style: none;
  padding: 20px 0;
}

.sidebar-list-2 li {
  margin-bottom: 10px;
}

.sidebar-list-2 a {
  text-decoration: none;
  font-size: 16px;
  color: #868383;
}

/* dark mode */
.dark-mode {
  display: flex;
  align-items: center;
}

.dark-mode p {
  margin-right: 100px;
  font-size: 20px;
  color: #868383;
}

.toggle {
  width: 4.5rem;
  height: 1.5rem;
  background-color: #777;
  border-radius: 3rem;
  box-shadow: inset 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.circle {
  width: 2rem;
  height: 2rem;
  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transition: all 0.1s linear;
}

.move {
  left: 2.5rem;
  background-color: #117abb;
}

.dark-1 {
  background-color: #1c2938;
}

.dark-2 {
  background-color: #10171e !important;
}

.light {
  color: #fff;
}

.border-color {
  border-color: #444 !important;
}
/* end of dark mode */
/* end of sidebar */